a,
aside,
b,
body,
caption,
div,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
menu,
nav,
ol,
p,
section,
span,
u,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

aside,
caption,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.4;
  font-family: $sansSerif;
}

ol,
ul {
  list-style: none;
}

b {
  font-weight: $bold;
}

a {
  color: $red3;
}

img {
  max-width: 100%;
}

button,
input,
textarea {
  appearance: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
