RewriteEngine On
RewriteBase /

# Rewrite .php to /
<IfModule rewrite_module>
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^image/dpr:(.*)/sizes:(.*)/(.*)\.(.*) image.php?dpr=$1&sizes=$2&src=$3&format=$4 [NC]
  RewriteRule ^image/dpr:(.*)/(.*)\.(.*) image.php?dpr=$1&src=$2&format=$3 [NC]
  RewriteRule ^image/(.*)\.(.*) image.php?src=$1&format=$2 [NC]
  RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

# Caching Policy
<IfModule headers_module>
  <FilesMatch "\.(png|jpe?g|webp|gif|svg|webm|mp4|woff2?|ico|css|js)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "public,max-age=31536000"
  </FilesMatch>
  <FilesMatch "\.(html|php)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "private,max-age=0,must-revalidate,no-cache,no-store"
  </FilesMatch>
  <FilesMatch "image.php">
    FileETag None
    Header unset ETag
    Header set Vary "DPR, Content-DPR, Viewport-Width, Width, Accept-Encoding, Save-Data"
    Header set Cache-Control "public,max-age=31557600"
  </FilesMatch>
  <FilesMatch "sw\.js$">
    Header set Cache-Control "private,max-age=0,must-revalidate,no-cache,no-store"
  </FilesMatch>
</IfModule>
