@media screen and (min-width: $bpLarge) {
  body {
    padding: 4.125rem 0 4.25rem;
  }

  header {
    margin: 0 0 1.625rem;
    padding: .75rem 0 .5625rem;

    .email {
      order: 2;
      display: block;
      font-size: 1.125rem;
      line-height: 1;
      text-transform: uppercase;
      color: $white;
      font-weight: $bold;
      text-decoration: none;
    }
  }

  #logo {
    display: none;
  }

  .info-container {
    max-width: 38.75rem;
    padding: 0 .625rem;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: no-wrap;
  }

  .motto {
    display: none;
  }

  .phone {
    font-size: 1.125rem;
    line-height: 1;
  }

  #social {
    order: 1;
    margin: 0 auto 0 .5625rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 2.25rem;
    max-width: 38.75rem;
    padding: 0 .625rem;
  }

  .nav-item {
    border: 0;
    padding: .875rem;
    margin: 0;
    border-radius: 0 .875rem;
    width: auto;
    color: $brown2;
    transition: color .5s ease-in-out;

    &:hover {
      color: $red1;
    }

    &.on {
      background-image: linear-gradient(to bottom, $brown3 0, $brown4 100%);
      color: $white !important;
    }
  }

  #main-logo {
    width: 100%;
    max-width: 21.25rem;
    height: auto;
    display: block;
    margin: 0 auto 1.625rem;
  }

  #content {
    margin: 0 auto 3.25rem;
  }

  .intro-copy {
    font-size: 1.25rem;
    font-weight: $book;
  }

  .company-photo {
    position: relative;
    top: -3rem;
    margin: 0 0 -3rem 1.25rem;
    float: right;
    display: inline-block;
    width: percentage(280 / 620);
  }

  .about-copy {
    font-size: 1.125rem;

    b {
      font-size: 1.375rem;
    }
  }

  .float-right {
    display: inline-block;
    float: right;
  }

  footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top: .125rem solid $white;
  }

  .info-container,
  footer {
    width: 100%;
  }

  .footer-type {
    font-size: .875rem;
    line-height: (16 / 14);
  }

  .photo {
    min-width: percentage(96 / 280);
  }
}

@media screen and (min-width: $bpExtraLarge) {
  #carousel {
    .next,
    .prev {
      width: 4rem;
      height: 8rem;
      margin: -4rem 0 0;
    }

    .prev {
      left: -6rem;
    }

    .next {
      right: -6rem;
    }
  }
}
