body {
  padding: 27.5% 0 0;

  &.locked {
    overflow: hidden;
  }
}

header {
  background: linear-gradient(to bottom, $red1 0, $red2 100%);
  padding: .75rem .625rem .5625rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: .125rem solid $white;
  align-items: center;

  .email {
    display: none;
    transition: color .25s ease-in-out;

    &:hover {
      color: $yellow;
    }
  }
}

#logo {
  width: 10.9375rem;
  height: auto;
  display: block;
}

.info-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#social {
  height: 1.1875rem;
  display: flex;
  margin: 0 .5625rem 0 auto;
}

.social {
  margin: 0 .375rem 0 0;

  &:last-child {
    margin: 0;
  }

  img {
    display: block;
    width: 1.1875rem;
    height: auto;
  }
}

.motto {
  font-weight: $heavy;
  text-transform: uppercase;
  font-size: .75rem;
  color: $white;
  white-space: nowrap;
  width: 100%;
  text-align: right;
}

.phone {
  color: $white;
  width: auto;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: $bold;
  text-align: right;
  transition: color .25s ease-in-out;

  &:hover {
    color: $yellow;
  }
}

#main-logo {
  display: none;
}

nav {
  max-width: 14rem;
  width: 100%;
  margin: 0 auto 2rem;
}

.nav-item {
  border: .1875rem solid $red3;
  border-radius: .625rem;
  padding: .75rem;
  color: $red3;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: $heavy;
  margin: 0 0 2rem;

  &.on {
    background-color: $red3;
    color: $white;
  }
}

#content {
  max-width: 38.75rem;
  width: 100%;
  margin: 0 auto 1.625rem;
  padding: 0 .625rem;
}

.intro-copy {
  color: $nearBlack;
  font-size: 1rem;
  line-height: 1.618;
  margin: 0 0 1.625rem;
  text-align: justify;

  b {
    font-weight: $heavy;
  }

  a {
    text-decoration: none;
    font-weight: 700;
  }
}

.float-right {
  margin: 0 0 1.625rem;
}

.side-image {
  display: block;
  margin: 0 auto .625rem;
}

.imageCaption {
  color: $nearBlack;
  text-align: center;
  font-size: .875rem;
  line-height: 1;
  font-weight: $heavy;
}

.contact-cta {
  color: $red2;
  font-weight: $heavy;
  font-size: 1.25rem;
  line-height: (24 / 20);
  margin: 0 0 1.75rem;
}

.contact {
  margin: 0 auto 1.625rem;
  display: flex;
  align-items: center;
}

.photo {
  width: percentage(96 / 280);
  height: auto;
  margin: 0 percentage(18 / 280) 0 0;
  max-width: 6rem;
}

.details {
  color: $brown3;
  font-size: 1rem;
  line-height: (18 / 16);

  b {
    font-weight: $heavy;
  }

  .email {
    font-size: .75rem;
    color: $brown3;
    text-decoration: none;
  }
}

.outbound-links {
  color: $brown3;
  font-size: 1rem;
  line-height: (19 / 16);
  font-weight: $book;
  margin: 0 0 1.625rem;

  a {
    color: $red2;
    font-weight: $bold;
  }
}

#content h2 {
  color: $red1;
  font-weight: $heavy;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  z-index: 1;
  margin: 0 0 1.25rem;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 -.1875rem;

  h2 {
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    line-height: 1;
    margin: 0 0 .625rem;
    font-weight: $heavy;
    color: $black;
  }
}

#tweets {
  .m-item {
    font-size: 0;

    .user {
      display: inline-block;
      width: percentage(70 / 542);
      margin: 0 percentage(20 / 542) 0 0;
      border: .0625rem solid $darkGrey;
      vertical-align: middle;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      span {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    p {
      width: percentage(452 / 542);
      font-size: .9375rem;
      line-height: (17 / 15);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.timePosted {
  display: none;
}

#about {
  h2 {
    color: $brown1;
    font-size: 2rem;
    line-height: 1;
    font-weight: $heavy;
    text-transform: uppercase;
    margin: 0 0 -.25rem;
    padding: 0 0 0 1.375rem;
  }
}

.copy-container {
  border-radius: .875rem 0;
  background-image: url("/image/about-bg.png"), linear-gradient(to bottom, $brown1 0, $brown3 100%);
  background-size: cover;
  background-position: 50% 50%;
  padding: 1.625rem 1.375rem .625rem;
}

.company-photo {
  display: block;
  border: .0625rem solid $white;
  margin: 0 auto 1rem;
}

.about-copy {
  font-size: 1.375rem;
  color: $white;
  text-align: left;
  text-shadow: 0 0 .144375rem $transBlack;
  font-size: .875rem;
  line-height: 1.618;
  margin: 0 0 1rem;
}

.servicesSubHeader {
  color: $red2;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1.5rem;
}

.collapsible-list {
  margin: 0 0 1.5rem;
}

.collapsible-item {
  color: $nearBlack;
  font-size: 1.25rem;
  line-height: (25 / 20);
  font-weight: 300;
  margin: 0 0 1.375rem;
  display: block;

  b {
    color: $red1;
    margin: 0 .5rem 0 0;
    min-width: 1.25rem;
  }

  & > b {
    padding: 0 0 0 1.25rem;
  }
}

.collapsible-target {
  padding: 0 0 0 1.25rem;
  margin: 0 0 .25rem;
  position: relative;
  cursor: pointer;
  display: flex;

  &:before {
    min-width: 1.25rem;
    left: 0;
    top: .25rem;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5625rem 0 .5625rem .703125rem;
    border-color: transparent transparent transparent $red1;
    transition: all .25s ease-in-out;
  }

  &.on {
    &:before {
      left: -.375rem;
      top: .5rem;
      transform: rotate(90deg);
    }
  }
}

.collapsible-content {
  padding: 0 0 0 1.25rem;
  transition: max-height .5s ease-in-out;
  max-height: 0;
  overflow-y: hidden;
  display: flex;

  &.on {
    max-height: 64rem;
  }
}

#carousel {
  position: relative;
  margin: 0 0 1.5rem;

  .m-scooch-inner {
    z-index: 2;
  }

  .m-scooch-photos {
    margin: 0;
    padding: 0;

    .m-item {
      width: 100%;

      & > img {
        box-shadow: none;
        display: block;
      }
    }
  }

  .next,
  .prev {
    position: absolute;
    display: block;
    width: 2.3125rem;
    height: 6rem;
    font-size: 0;
    top: 50%;
    z-index: 3;
    margin: -3rem 0 0;
  }

  .prev {
    background: url("/image/prev.svg") no-repeat 50% 50%;
    left: .5rem;
  }

  .next {
    background: url("/image/next.svg") no-repeat 50% 50%;
    right: .5rem;
  }
}

#address {
  text-align: center;
  color: $red3;
  padding: 0 .625rem;
  margin: 0 0 1.25rem;
  font-size: .875rem;
  line-height: (17.5 / 14);

  a {
    text-decoration: none;
    color: $red3;
  }
}

footer {
  background-image: linear-gradient(to bottom, $red1 0, $red2 100%);
  padding: .625rem;
}

.info-container,
footer {
  display: flex;
}

footer {
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  max-width: 38.75rem;
  align-items: center;
  margin: 0 auto;
}

.est {
  width: 48%;
  display: flex;
  align-items: center;
}

.footer-type {
  font-weight: $heavy;
  color: $white;
  text-transform: uppercase;
  font-size: .5rem;
  line-height: (14 / 12);
  margin: 0 .25rem 0 0;
  text-align: center;
}

.no-js {
  #carousel .next,
  #carousel .prev {
    display: none;
  }

  .collapsible-target {
    padding-left: 0;
    cursor: none;

    &:before {
      content: none;
    }
  }

  .collapsible-content {
    max-height: none;
    overflow-y: auto;
    padding-left: 0;
  }

  .collapsible-item {
    & > b {
      padding-left: 0;
    }
  }
}

@media screen and (min-width: $bpTween) {
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact {
    max-width: none;
    margin: 0 0 2rem;
    flex-basis: percentage(290 / 620);
  }
}
